html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Lato';
}

.all-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .actual-content-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__form__search-form{
        flex-direction: column;
        align-items:flex-start;
    }

    .header__top_items{
        flex-direction: column;
    }

    .header{
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__form{
        margin-top: 40px;
    }

    .header__form-subheader{
        max-width: 100%;
        font-size: 2em;
    }

    .header__form__search-form{
        margin-top: 30px;
        margin-bottom: 220px;
    }

    .footer__set{
        padding-left: 15px;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .today-places-to-visit__elements-set{
        gap: 10px;
    }

    .today-places-to-visit__element{
        flex-basis: 80%;
    }

    .location-in-focus{
        gap: 5px;
    }

    .location-in-focus__set-element{
        flex-basis: 47%;
    }

    .location-in-focus__text-element{
        padding-left: 3px;
        padding-right: 3px;
    }

    .location-in-focus__text-element__header{
        font-size: 1.2em;
        margin-bottom: 30px;
        line-height: 20px;
    }

    .section__benefits-list{
        margin-right: 15px;
        margin-left: 15px;
    }

    .section__header{
        margin-left: 30px;
    }

    .section__benefits-list-element {
        max-width: 85%;
    }

}

@media only screen and (min-width: 768px){
    .actual-content-wrapper{
        padding-left: 90px;
        padding-right: 90px;
    }

    .header__form__search-form{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__top_items{
        flex-direction: row;
        align-items: flex-start;
    }

    .header{
        padding-left: 100px;
        padding-right: 100px;
    }

    .header__form{
        margin-top: 150px;
    }

    .header__form-subheader{
        max-width: 65%;
        font-size: 3em;
    }

    .header__form__search-form{
        margin-top: 50px;
        margin-bottom: 348px;
    }

    .footer__set{
        flex-direction: row;
    }

    .today-places-to-visit__elements-set{
        gap: 50px;
    }

    .today-places-to-visit__element{
        flex-basis: 30%;
    }

    .location-in-focus{
        flex-basis: 43%;
        gap: 75px;
    }

    .location-in-focus__set-element{
        flex-basis: 43%;
    }

    .location-in-focus__text-element{
        padding-left: 6%;
        padding-right: 6%;
    }

    .location-in-focus__text-element__header{
        font-size: 1.8em;
        margin-bottom: 75px;
        line-height: 40px;
    }

    .section__benefits-list{
        margin-right: 70px;
        margin-left: 70px;
    }

    .section__header{
        margin-left: 90px;
    }

    .section__benefits-list-element {
        max-width: 27%;
    }

}

.actual-content-wrapper{
    max-width: 1300px;
    font-family: 'Lato';
}

.header__top_items {
    font-size: 1.1em;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight:300;
}

.header__top_items > a {
    color: white;
    text-decoration: none;
}

.header__logo{
    flex-grow: 0.4;
    width: 82px;
    height: 31px;
    background-image: url(../images/logo-odigo.svg);
    background-repeat: no-repeat;
}

.header__top_items_link{
    margin-left: 5px;
}

.header_background-image{ 
    width: 100%;
    max-height: 960px;
    background-image: url(../images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    
}

.image-overlay{
    width: 100%;
    max-height: 960px;
    background-color: rgba(16, 30, 59, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.header__form{
    max-width: 1000px;
    /* margin-top: 150px; */
}

.header__form-subheader{
    font-weight: lighter;
    /* font-size: 3em; */
    /* max-width: 65%; */
}

.header__form-text{
    min-width: 250px;
    max-width: 55%;
    line-height: 24px;
}

.header__form__search-form{
    /* margin-top: 50px;
    padding-bottom: 348px; */
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.circle{
    border: 2px;
    width: 16px;
    height: 16px;

    border-style: solid;
    border-color: white;
    border-radius: 50%;

    margin-right: 12px;
}

.combine_emelent_with_circle{
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 25px;
    border-bottom: solid 2px rgb(200, 200, 200);
}


.header__form__search-form-element{
    font-weight: 300;
    font-size: 1.1em;
    background-color: transparent;
    border: none;
    color: white;
}

.header__form__search-form-element::placeholder{
    font-family: 'Lato';
    color: white;
}

.header__form__search-form-button{
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    width: 170px;
    height: 60px;
    background-color: #1B7DFF;
    border: none;
}

.section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -200px;
    background-color: rgb(255, 255, 255);
    
}

.section__header{
    font-size: 2em; font-weight: 600;
    padding-top: 85px;
    /* margin-left: 90px; */
    padding-bottom: 80px;
}

.section__benefits-list{
    
    /* margin-right: 70px;
    margin-left: 70px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__benefits-list-element{
    display: flex;
    flex-direction: column;
    /* max-width: 28%; */
    min-width: 170px;
    margin-bottom: 120px;
}

.section__benefits__list__welcome-icon, 
.section__benefits__list__guide-icon,
.section__benefits__list__local-icon 
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section__benefits__list__welcome-header,
.section__benefits__list__guide-header,
.section__benefits__list__local-header {
    margin-top: 35px;
    font-size: 1.2em;
}

.section__benefits__list__welcome-header{
    font-weight: 800;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.30)
}

.section__benefits__list__welcome_text, 
.section__benefits__list__guide_text,
.section__benefits__list__local_text {
    margin-top: 25px;
    font-size: 1.05em;
    line-height: 24px;
}

.section__benefits__list__welcome_link, 
.section__benefits__list__guide_link,
.section__benefits__list__local_link {
    margin-top: 35px;
    text-transform: uppercase;
}

.section__benefits__list__welcome_link > a, 
.section__benefits__list__guide_link > a,
.section__benefits__list__local_link > a {
    text-decoration: none;
    color: #006DFE;
}

.section-inspire {
    margin-top: 120px;
}

.section-inspire a{
    text-decoration: none;
    color: #006DFE;
    text-transform: uppercase;
}

.section-inspire__header-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-inspire__header{
    font-size: 2.0em;
}

.section-inspire__header::after{
    position:absolute;
    display: block;
    content: '';
    height: 3px;
    width: 200px;
    background-color: #006DFE;
    margin-top: 7px;
}

.section-inspire__pictures-set-row1{
    margin-top: 35px;
}

.section-inspire__pictures-set-row1,
.section-inspire__pictures-set-row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    
}

.section-inspire__pictures-set-row1 img{
    max-height: 374px;
}

.section-inspire__pictures-set-row2 img{
    max-height: 293px;
}

.section-inspire__pictures-set-row1 img,
.section-inspire__pictures-set-row2 img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-inspire__image-overlay{
    position: absolute;
    background-color: rgba(16, 30, 59, 0.5);
}

.Mount-Fuji-element,
.Kyoto-element,
.Tokyo-element,
.Niigata-element,
.Sapporo-element{
    position: relative;
    flex-grow: 1;
    flex-basis: 300px;
}

.Mount-Fuji-element span,
.Kyoto-element span,
.Tokyo-element span,
.Niigata-element span,
.Sapporo-element span{
  
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    bottom: 30px;
    left: 30px;
}

.section2-image-overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7),
                 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}



.location-in-focus{
    
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    /* gap: 75px; */
    
}

.location-in-focus__set-element{
   /* flex-basis: 43%; */
   flex-grow: 1;
}

.location-in-focus__set-element > img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.location-in-focus__text-element{
   /* padding-left: 6%;
    padding-right: 6%; */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location-in-focus__text-element__header{
    padding-top: 18px;
    /* font-size: 1.8em; */
    font-weight: 700;
    /* margin-bottom: 75px; */
    /* line-height: 40px; */
}

.location-in-focus__text-element__info{
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
}

.location-in-focus__text-element__link{
    text-decoration: none;
    color: #006DFE;
    text-transform: uppercase;
}

.today-places-to-visit{
    margin-top: 150px;
}

.today-places-to-visit__elements-set{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.today-places-to-visit__element{
    display: flex;
    flex-direction: column;
    /*flex-basis: 30%;*/
    flex-grow: 1;
}

.today-places-to-visit__element__picture{
    position: relative;
    height: auto;
    width: 100%;
}

.today-places-to-visit__element__picture-info{
    position: absolute;

    bottom: 0;
    left: 0;
    height: 55px;
    width:inherit;
    
    color: white;

    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.today-places-to-visit__element__picture-info__picture-name{
    margin-left: 25px;
}

.today-places-to-visit__element__picture-info__picture-likes{
    
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.today-places-to-visit__element__picture-overlay{
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    height: 55px;
    width: 100%;
}

.today-places-to-visit__element__picture > img{
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
}

.today-places-to-visit__element__text{
    margin-top: 50px;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
}

.today-places-to-visit__element__button{
    margin-top: 40px;
    font-size: 0.9em;
    color: white;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    background-color: #006DFE;
    border: none;
    line-height: 19.2px;
}

.secion-video{
    margin-top: 150px;
}

.section-video__video-set{
    max-width: 1440px;
    max-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.section-video__video-set > img{
 
    object-fit: cover;
    min-height: 350px;
    width: 100%;
    display: block;
}

.video-button{
    position: absolute;
    align-self: center;
    height: fit-content;
}

.section-video__img-overlay{

    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color:  rgba(21, 24, 36, 0.4);

}

.footer{
    width: 100%;
    background-color: #0E1D28;
    display: flex;
    justify-content: center;
}

.footer__set{

    
    width: 100%;
    max-width: 1200px;
    padding-top: 120px;
    display: flex;   
    gap: 12%;
    padding-bottom: 120px;
    
}

.footer__set__logo-element{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

.footer__set__logo-element > img{
    max-width: 170px;
    max-height: 65px;
}

.footer__set-element{
    display: flex;
    color: white;
    flex-direction: column;
    line-height: 24px;
    gap: 3px;
    flex-grow: 1;
}

.footer__set-element > a{
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.footer__set-element > a:first-child{
    font-size: 1.12em;
    font-weight: 500;
}