.all-content-wrapper{
    
    display: flex;
    justify-content: center;

}

.actual-content-wrapper{

    max-width: 1300px;
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'Lato';
}

.header__top_items {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__top_items > a {
    color: white;
    text-decoration: none;
}

.header__logo{
    flex-grow: 0.4;
    width: 82px;
    height: 31px;
    background-image: url(../images/logo-odigo.svg);
    background-repeat: no-repeat;
}

.header__top_items_link{
    margin-left: 5px;
}

.header_background-image{ 
    max-width: 1440px;
    max-height: 960px;
    background-image: url(../images/header_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay{
    max-height: 960px;
    background-color: rgba(17, 10, 41, 0.6);
}

header{
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.header__form{
    max-width: 1000px;
    margin-top: 150px;
}

.header__form-subheader{
    font-weight: lighter;
    font-size: 3em;
    max-width: 65%;
}

.header__form-text{
    min-width: 250px;
    max-width: 55%;
}

.header__form__search-form{
    margin-top: 50px;
    padding-bottom: 348px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.circle{
    border: 2px;
    width: 16px;
    height: 16px;

    border-style: solid;
    border-color: white;
    border-radius: 50%;

    margin-right: 12px;
}

.combine_emelent_with_circle{
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 25px;
    border-bottom: solid 2px rgb(200, 200, 200);
}


.header__form__search-form-element{
    font-weight: 300;
    font-size: 1.1em;
    background-color: transparent;
    border: none;
    color: white;
}

.header__form__search-form-element::placeholder{
    font-family: 'Lato';
    color: white;
}

.header__form__search-form-button{
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    width: 170px;
    height: 60px;
    background-color: rgb(36, 39, 197);
    border: none;
}

.section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: -200px;
    background-color: rgb(255, 255, 255);
    
}

.section__header{
    font-size: 2em; font-weight: 600;
    padding-top: 85px;
    margin-left: 90px;
    padding-bottom: 80px;
}

.section__benefits-list{
    
    margin-right: 70px;
    margin-left: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section__benefits-list-element{
    display: flex;
    flex-direction: column;
    max-width: 28%;
    min-width: 140px;
    margin-bottom: 120px;
}

.section__benefits__list__welcome-icon, 
.section__benefits__list__guide-icon,
.section__benefits__list__local-icon 
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section__benefits__list__welcome-header,
.section__benefits__list__guide-header,
.section__benefits__list__local-header {
    margin-top: 35px;
    font-size: 1.2em;
}

.section__benefits__list__welcome_text, 
.section__benefits__list__guide_text,
.section__benefits__list__local_text {
    margin-top: 25px;
    font-size: 1.05em;
}

.section__benefits__list__welcome_link, 
.section__benefits__list__guide_link,
.section__benefits__list__local_link {
    margin-top: 35px;
    text-transform: uppercase;
}

.section__benefits__list__welcome_link > a, 
.section__benefits__list__guide_link > a,
.section__benefits__list__local_link > a {
    text-decoration: none;
    color: rgb(89, 89, 241);
}

.section-inspire {
    margin-top: 120px;
}

.section-inspire a{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    padding-left: 10px;
}

.section-inspire__header-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-inspire__header{
    font-size: 2.0em;
}

.section-inspire__header::after{
    position:absolute;
    display: block;
    content: '';
    height: 3px;
    width: 200px;
    background-color: blue;
    margin-top: 7px;
}

.section-inspire__pictures-set-row1{
    margin-top: 35px;
}

.section-inspire__pictures-set-row1,
.section-inspire__pictures-set-row2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: stretch;
}

.section-inspire__picture-Mount-Fuji{
    background-image: url(../images/mount-fuji.jpg);  
}
.section-inspire__picture-Kyoto {
    background-image: url(../images/kyoto.jpg);
}
.section-inspire__picture-Tokyo{
    background-image: url(../images/tokyo.jpg);
}
.section-inspire__picture-Niigata{
    background-image: url(../images/niigata.jpg);
}
.section-inspire__picture-Sapporo{ 
    background-image: url(../images/sapporo.jpg);
}

.section-inspire__picture-Mount-Fuji,
.section-inspire__picture-Kyoto{
    width: 600px;
    height: 350px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}


.section-inspire__picture-Tokyo,
.section-inspire__picture-Niigata,
.section-inspire__picture-Sapporo{ 
    background-repeat: no-repeat;
    width: 400px;
    height: 280px;
    margin-bottom: 10px;
    
}